# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 6ms
 ✅ src/attribute_handling.test.mjs (6 tests) 179ms
 ✅ src/basic_components.test.mjs (19 tests) 21ms
 ✅ src/boolean_attributes.test.mjs (1 test) 16ms
 ✅ src/checkbox.test.mjs (1 test) 15ms
 ✅ src/click_swap.test.mjs (1 test) 13ms
 ✅ src/component_switching_bug.test.mjs (1 test) 159ms
 ✅ src/empty_fragment.test.mjs (1 test) 9ms
 ✅ src/enter_to_submit.test.mjs (1 test) 20ms
 ✅ src/fragment_clickable.test.mjs (1 test) 68ms
 ✅ src/fragment_switching.test.mjs (1 test) 13ms
 ✅ src/games_fail_case_race.test.mjs (1 test) 677ms
 ✅ src/list_demo.test.mjs (1 test) 52ms
 ✅ src/list_rerender.test.mjs (2 tests) 32ms
 ✅ src/local_state_rerender.test.mjs (1 test) 16ms
 ✅ src/multiple_instances.test.mjs (3 tests) 44ms
 ✅ src/multiple_select.test.mjs (1 test) 35ms
 ✅ src/nested_fors.test.mjs (3 tests) 23ms
 ✅ src/numeric_input.test.mjs (1 test) 20ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 16ms
 ✅ src/radio_buttons.test.mjs (1 test) 30ms
 ✅ src/range_slider.test.mjs (2 tests) 21ms
 ✅ src/ratom_deferred.test.mjs (1 test) 12ms
 ✅ src/reentrant_render.test.mjs (5 tests) 64ms
 ✅ src/ref.test.mjs (1 test) 17ms
 ✅ src/select.test.mjs (3 tests) 29ms
 ✅ src/select_attribute.test.mjs (1 test) 22ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 25ms
 ✅ src/simple_component.test.mjs (1 test) 10ms
 ✅ src/snake_game_over.test.mjs (1 test) 366ms
 ✅ src/standard_attributes.test.mjs (3 tests) 46ms
 ✅ src/stateful_component.test.mjs (1 test) 16ms
 ✅ src/style_attribute.test.mjs (1 test) 20ms
 ✅ src/svg.test.mjs (1 test) 10ms
 ✅ src/text_input.test.mjs (1 test) 19ms
 ✅ src/textarea.test.mjs (1 test) 23ms
 ✅ src/timer.test.mjs (1 test) 672ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 86ms
 ✅ src/todomvc.test.mjs (10 tests) 924ms
 ✅ src/various_events.test.mjs (3 tests) 16ms
 ✅ src/various_renderings.test.mjs (6 tests) 29ms
```

## Summary

- **Test Files**: 41 passed (41)
- **Test Suites**: 89 passed (89)
- **Tests**: 102 passed (102)
- **Duration**: 8.96s
