# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 7ms
 ✅ src/attribute_handling.test.mjs (6 tests) 181ms
 ✅ src/basic_components.test.mjs (19 tests) 21ms
 ✅ src/boolean_attributes.test.mjs (1 test) 18ms
 ✅ src/checkbox.test.mjs (1 test) 16ms
 ✅ src/click_swap.test.mjs (1 test) 13ms
 ✅ src/component_switching_bug.test.mjs (1 test) 162ms
 ✅ src/dangerously_set_inner_html.test.mjs (6 tests) 22ms
 ✅ src/empty_fragment.test.mjs (1 test) 9ms
 ✅ src/enter_to_submit.test.mjs (1 test) 21ms
 ✅ src/fragment_clickable.test.mjs (1 test) 60ms
 ✅ src/fragment_switching.test.mjs (1 test) 19ms
 ✅ src/list_demo.test.mjs (1 test) 45ms
 ✅ src/list_rerender.test.mjs (2 tests) 38ms
 ✅ src/local_state_rerender.test.mjs (1 test) 15ms
 ✅ src/multiple_instances.test.mjs (3 tests) 32ms
 ✅ src/multiple_select.test.mjs (1 test) 22ms
 ✅ src/nested_fors.test.mjs (3 tests) 28ms
 ✅ src/nested_ratoms_race.test.mjs (1 test) 680ms
 ✅ src/numeric_input.test.mjs (1 test) 22ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 14ms
 ✅ src/radio_buttons.test.mjs (1 test) 30ms
 ✅ src/range_slider.test.mjs (2 tests) 34ms
 ✅ src/ratom_deferred.test.mjs (1 test) 15ms
 ✅ src/reentrant_render.test.mjs (5 tests) 65ms
 ✅ src/ref.test.mjs (1 test) 23ms
 ✅ src/select.test.mjs (3 tests) 26ms
 ✅ src/select_attribute.test.mjs (1 test) 29ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 24ms
 ✅ src/simple_component.test.mjs (1 test) 13ms
 ✅ src/snake_game_over.test.mjs (1 test) 372ms
 ✅ src/standard_attributes.test.mjs (3 tests) 41ms
 ✅ src/stateful_component.test.mjs (1 test) 13ms
 ✅ src/style_attribute.test.mjs (1 test) 20ms
 ✅ src/svg.test.mjs (5 tests) 38ms
 ✅ src/text_input.test.mjs (1 test) 18ms
 ✅ src/textarea.test.mjs (1 test) 17ms
 ✅ src/timer.test.mjs (1 test) 671ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 88ms
 ✅ src/todomvc.test.mjs (10 tests) 669ms
 ✅ src/various_events.test.mjs (3 tests) 14ms
 ✅ src/various_renderings.test.mjs (6 tests) 12ms
```

## Summary

- **Test Files**: 42 passed (42)
- **Test Suites**: 91 passed (91)
- **Tests**: 112 passed (112)
- **Duration**: 9.39s
