# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 7ms
 ✅ src/attribute_handling.test.mjs (6 tests) 203ms
 ✅ src/basic_components.test.mjs (19 tests) 22ms
 ✅ src/boolean_attributes.test.mjs (1 test) 20ms
 ✅ src/checkbox.test.mjs (1 test) 21ms
 ✅ src/click_swap.test.mjs (1 test) 12ms
 ✅ src/component_switching_bug.test.mjs (1 test) 166ms
 ✅ src/dangerously_set_inner_html.test.mjs (6 tests) 19ms
 ✅ src/empty_fragment.test.mjs (1 test) 9ms
 ✅ src/enter_to_submit.test.mjs (1 test) 22ms
 ✅ src/fragment_clickable.test.mjs (1 test) 63ms
 ✅ src/fragment_switching.test.mjs (1 test) 20ms
 ✅ src/list_demo.test.mjs (1 test) 39ms
 ✅ src/list_rerender.test.mjs (2 tests) 43ms
 ✅ src/local_state_rerender.test.mjs (1 test) 17ms
 ✅ src/multiple_instances.test.mjs (3 tests) 49ms
 ✅ src/multiple_select.test.mjs (1 test) 23ms
 ✅ src/nested_fors.test.mjs (3 tests) 37ms
 ✅ src/nested_ratoms_race.test.mjs (1 test) 682ms
 ✅ src/numeric_input.test.mjs (1 test) 15ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 20ms
 ✅ src/radio_buttons.test.mjs (1 test) 35ms
 ✅ src/range_slider.test.mjs (2 tests) 31ms
 ✅ src/ratom_deferred.test.mjs (1 test) 16ms
 ✅ src/reentrant_render.test.mjs (5 tests) 74ms
 ✅ src/ref.test.mjs (1 test) 20ms
 ✅ src/select.test.mjs (3 tests) 38ms
 ✅ src/select_attribute.test.mjs (1 test) 24ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 26ms
 ✅ src/simple_component.test.mjs (1 test) 15ms
 ✅ src/snake_game_over.test.mjs (1 test) 368ms
 ✅ src/standard_attributes.test.mjs (3 tests) 46ms
 ✅ src/stateful_component.test.mjs (1 test) 17ms
 ✅ src/style_attribute.test.mjs (1 test) 19ms
 ✅ src/svg.test.mjs (5 tests) 27ms
 ✅ src/text_input.test.mjs (1 test) 25ms
 ✅ src/textarea.test.mjs (1 test) 13ms
 ✅ src/timer.test.mjs (1 test) 671ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 92ms
 ✅ src/todomvc.test.mjs (10 tests) 728ms
 ✅ src/various_events.test.mjs (3 tests) 19ms
 ✅ src/various_renderings.test.mjs (6 tests) 19ms
```

## Summary

- **Test Files**: 42 passed (42)
- **Test Suites**: 91 passed (91)
- **Tests**: 112 passed (112)
- **Duration**: 10.03s
