# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 5ms
 ✅ src/attribute_handling.test.mjs (6 tests) 123ms
 ✅ src/basic_components.test.mjs (19 tests) 13ms
 ✅ src/boolean_attributes.test.mjs (1 test) 10ms
 ✅ src/checkbox.test.mjs (1 test) 10ms
 ✅ src/click_swap.test.mjs (1 test) 10ms
 ✅ src/component_switching_bug.test.mjs (1 test) 140ms
 ✅ src/dangerously_set_inner_html.test.mjs (6 tests) 13ms
 ✅ src/empty_fragment.test.mjs (1 test) 8ms
 ✅ src/enter_to_submit.test.mjs (1 test) 10ms
 ✅ src/fragment_clickable.test.mjs (1 test) 45ms
 ✅ src/fragment_switching.test.mjs (1 test) 14ms
 ✅ src/list_demo.test.mjs (1 test) 26ms
 ✅ src/list_rerender.test.mjs (2 tests) 20ms
 ✅ src/local_state_rerender.test.mjs (1 test) 13ms
 ✅ src/multiple_instances.test.mjs (3 tests) 21ms
 ✅ src/multiple_select.test.mjs (1 test) 16ms
 ✅ src/nested_fors.test.mjs (3 tests) 21ms
 ✅ src/nested_ratoms_race.test.mjs (1 test) 663ms
 ✅ src/numeric_input.test.mjs (1 test) 10ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 12ms
 ✅ src/radio_buttons.test.mjs (1 test) 22ms
 ✅ src/range_slider.test.mjs (2 tests) 20ms
 ✅ src/ratom_deferred.test.mjs (1 test) 14ms
 ✅ src/reentrant_render.test.mjs (5 tests) 46ms
 ✅ src/ref.test.mjs (1 test) 16ms
 ✅ src/select.test.mjs (3 tests) 14ms
 ✅ src/select_attribute.test.mjs (1 test) 26ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 16ms
 ✅ src/simple_component.test.mjs (1 test) 7ms
 ✅ src/snake_game_over.test.mjs (1 test) 360ms
 ✅ src/standard_attributes.test.mjs (3 tests) 25ms
 ✅ src/stateful_component.test.mjs (1 test) 11ms
 ✅ src/style_attribute.test.mjs (1 test) 12ms
 ✅ src/svg.test.mjs (5 tests) 15ms
 ✅ src/text_input.test.mjs (1 test) 11ms
 ✅ src/textarea.test.mjs (1 test) 17ms
 ✅ src/timer.test.mjs (1 test) 665ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 78ms
 ✅ src/todomvc.test.mjs (10 tests) 524ms
 ✅ src/various_events.test.mjs (3 tests) 8ms
 ✅ src/various_renderings.test.mjs (6 tests) 14ms
```

## Summary

- **Test Files**: 42 passed (42)
- **Test Suites**: 91 passed (91)
- **Tests**: 112 passed (112)
- **Duration**: 6.41s
