# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 10ms
 ✅ src/attribute_handling.test.mjs (6 tests) 172ms
 ✅ src/basic_components.test.mjs (19 tests) 24ms
 ✅ src/boolean_attributes.test.mjs (1 test) 16ms
 ✅ src/checkbox.test.mjs (1 test) 17ms
 ✅ src/click_swap.test.mjs (1 test) 12ms
 ✅ src/component_switching_bug.test.mjs (1 test) 149ms
 ✅ src/empty_fragment.test.mjs (1 test) 12ms
 ✅ src/enter_to_submit.test.mjs (1 test) 19ms
 ✅ src/fragment_clickable.test.mjs (1 test) 71ms
 ✅ src/fragment_switching.test.mjs (1 test) 20ms
 ✅ src/games_fail_case_race.test.mjs (1 test) 682ms
 ✅ src/list_demo.test.mjs (1 test) 65ms
 ✅ src/list_rerender.test.mjs (2 tests) 43ms
 ✅ src/local_state_rerender.test.mjs (1 test) 21ms
 ✅ src/multiple_instances.test.mjs (3 tests) 43ms
 ✅ src/multiple_select.test.mjs (1 test) 25ms
 ✅ src/nested_fors.test.mjs (3 tests) 31ms
 ✅ src/numeric_input.test.mjs (1 test) 20ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 13ms
 ✅ src/radio_buttons.test.mjs (1 test) 34ms
 ✅ src/range_slider.test.mjs (2 tests) 24ms
 ✅ src/ratom_deferred.test.mjs (1 test) 11ms
 ✅ src/reentrant_render.test.mjs (5 tests) 65ms
 ✅ src/ref.test.mjs (1 test) 18ms
 ✅ src/select.test.mjs (1 test) 17ms
 ✅ src/select_attribute.test.mjs (1 test) 23ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 29ms
 ✅ src/simple_component.test.mjs (1 test) 10ms
 ✅ src/snake_game_over.test.mjs (1 test) 363ms
 ✅ src/standard_attributes.test.mjs (3 tests) 38ms
 ✅ src/stateful_component.test.mjs (1 test) 16ms
 ✅ src/style_attribute.test.mjs (1 test) 21ms
 ✅ src/svg.test.mjs (1 test) 17ms
 ✅ src/text_input.test.mjs (1 test) 16ms
 ✅ src/textarea.test.mjs (1 test) 18ms
 ✅ src/timer.test.mjs (1 test) 676ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 87ms
 ✅ src/todomvc.test.mjs (10 tests) 1006ms
 ✅ src/various_events.test.mjs (3 tests) 15ms
 ✅ src/various_renderings.test.mjs (6 tests) 13ms
```

## Summary

- **Test Files**: 41 passed (41)
- **Test Suites**: 89 passed (89)
- **Tests**: 100 passed (100)
- **Duration**: 9.38s
