# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 9ms
 ✅ src/attribute_handling.test.mjs (6 tests) 95ms
 ✅ src/basic_components.test.mjs (19 tests) 31ms
 ✅ src/boolean_attributes.test.mjs (1 test) 18ms
 ✅ src/checkbox.test.mjs (1 test) 17ms
 ✅ src/click_swap.test.mjs (1 test) 11ms
 ✅ src/component_switching_bug.test.mjs (1 test) 171ms
 ✅ src/empty_fragment.test.mjs (1 test) 7ms
 ✅ src/enter_to_submit.test.mjs (1 test) 18ms
 ✅ src/fragment_clickable.test.mjs (1 test) 67ms
 ✅ src/fragment_switching.test.mjs (1 test) 18ms
 ✅ src/list_demo.test.mjs (1 test) 50ms
 ✅ src/list_rerender.test.mjs (2 tests) 37ms
 ✅ src/local_state_rerender.test.mjs (1 test) 18ms
 ✅ src/multiple_instances.test.mjs (3 tests) 27ms
 ✅ src/multiple_select.test.mjs (1 test) 18ms
 ✅ src/nested_fors.test.mjs (3 tests) 30ms
 ✅ src/numeric_input.test.mjs (1 test) 21ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 21ms
 ✅ src/radio_buttons.test.mjs (1 test) 31ms
 ✅ src/range_slider.test.mjs (2 tests) 29ms
 ✅ src/ratom_deferred.test.mjs (1 test) 15ms
 ✅ src/ref.test.mjs (1 test) 17ms
 ✅ src/select.test.mjs (1 test) 16ms
 ✅ src/select_attribute.test.mjs (1 test) 20ms
 ✅ src/simple_component.test.mjs (1 test) 13ms
 ✅ src/snake_game_over.test.mjs (1 test) 370ms
 ✅ src/standard_attributes.test.mjs (3 tests) 36ms
 ✅ src/stateful_component.test.mjs (1 test) 13ms
 ✅ src/style_attribute.test.mjs (1 test) 26ms
 ✅ src/svg.test.mjs (1 test) 14ms
 ✅ src/text_input.test.mjs (1 test) 19ms
 ✅ src/textarea.test.mjs (1 test) 15ms
 ✅ src/timer.test.mjs (1 test) 666ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 91ms
 ✅ src/todomvc.test.mjs (10 tests) 921ms
 ✅ src/various_events.test.mjs (3 tests) 15ms
 ✅ src/various_renderings.test.mjs (6 tests) 16ms
```

## Summary

- **Test Files**: 38 passed (38)
- **Test Suites**: 83 passed (83)
- **Tests**: 93 passed (93)
- **Duration**: 8.37s
