# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 10ms
 ✅ src/attribute_handling.test.mjs (6 tests) 188ms
 ✅ src/basic_components.test.mjs (19 tests) 28ms
 ✅ src/boolean_attributes.test.mjs (1 test) 20ms
 ✅ src/checkbox.test.mjs (1 test) 16ms
 ✅ src/click_swap.test.mjs (1 test) 20ms
 ✅ src/component_switching_bug.test.mjs (1 test) 156ms
 ✅ src/dangerously_set_inner_html.test.mjs (6 tests) 21ms
 ✅ src/empty_fragment.test.mjs (1 test) 10ms
 ✅ src/enter_to_submit.test.mjs (1 test) 20ms
 ✅ src/fragment_clickable.test.mjs (1 test) 75ms
 ✅ src/fragment_switching.test.mjs (1 test) 18ms
 ✅ src/games_fail_case_race.test.mjs (1 test) 679ms
 ✅ src/list_demo.test.mjs (1 test) 40ms
 ✅ src/list_rerender.test.mjs (2 tests) 32ms
 ✅ src/local_state_rerender.test.mjs (1 test) 17ms
 ✅ src/multiple_instances.test.mjs (3 tests) 37ms
 ✅ src/multiple_select.test.mjs (1 test) 22ms
 ✅ src/nested_fors.test.mjs (3 tests) 27ms
 ✅ src/numeric_input.test.mjs (1 test) 15ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 22ms
 ✅ src/radio_buttons.test.mjs (1 test) 29ms
 ✅ src/range_slider.test.mjs (2 tests) 35ms
 ✅ src/ratom_deferred.test.mjs (1 test) 11ms
 ✅ src/reentrant_render.test.mjs (5 tests) 64ms
 ✅ src/ref.test.mjs (1 test) 12ms
 ✅ src/select.test.mjs (3 tests) 20ms
 ✅ src/select_attribute.test.mjs (1 test) 20ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 24ms
 ✅ src/simple_component.test.mjs (1 test) 12ms
 ✅ src/snake_game_over.test.mjs (1 test) 363ms
 ✅ src/standard_attributes.test.mjs (3 tests) 41ms
 ✅ src/stateful_component.test.mjs (1 test) 20ms
 ✅ src/style_attribute.test.mjs (1 test) 19ms
 ✅ src/svg.test.mjs (1 test) 10ms
 ✅ src/text_input.test.mjs (1 test) 21ms
 ✅ src/textarea.test.mjs (1 test) 12ms
 ✅ src/timer.test.mjs (1 test) 670ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 86ms
 ✅ src/todomvc.test.mjs (10 tests) 948ms
 ✅ src/various_events.test.mjs (3 tests) 16ms
 ✅ src/various_renderings.test.mjs (6 tests) 15ms
```

## Summary

- **Test Files**: 42 passed (42)
- **Test Suites**: 91 passed (91)
- **Tests**: 108 passed (108)
- **Duration**: 9.25s
