# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/attribute_handling.test.mjs (6 tests) 208ms
 ✅ src/basic_components.test.mjs (4 tests) 20ms
 ✅ src/boolean_attributes.test.mjs (1 test) 16ms
 ✅ src/checkbox.test.mjs (1 test) 17ms
 ✅ src/click_swap.test.mjs (1 test) 20ms
 ✅ src/component_switching_bug.test.mjs (1 test) 144ms
 ✅ src/empty_fragment.test.mjs (1 test) 7ms
 ✅ src/enter_to_submit.test.mjs (1 test) 17ms
 ✅ src/fragment_clickable.test.mjs (1 test) 81ms
 ✅ src/fragment_switching.test.mjs (1 test) 23ms
 ✅ src/list_demo.test.mjs (1 test) 74ms
 ✅ src/list_rerender.test.mjs (2 tests) 49ms
 ✅ src/local_state_rerender.test.mjs (1 test) 19ms
 ✅ src/multiple_instances.test.mjs (3 tests) 42ms
 ✅ src/multiple_select.test.mjs (1 test) 27ms
 ✅ src/nested_fors.test.mjs (3 tests) 38ms
 ✅ src/numeric_input.test.mjs (1 test) 21ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 21ms
 ✅ src/radio_buttons.test.mjs (1 test) 28ms
 ✅ src/range_slider.test.mjs (2 tests) 34ms
 ✅ src/ref.test.mjs (1 test) 21ms
 ✅ src/select.test.mjs (1 test) 26ms
 ✅ src/select_attribute.test.mjs (1 test) 21ms
 ✅ src/simple_component.test.mjs (1 test) 12ms
 ✅ src/standard_attributes.test.mjs (3 tests) 51ms
 ✅ src/stateful_component.test.mjs (1 test) 14ms
 ✅ src/style_attribute.test.mjs (1 test) 20ms
 ✅ src/svg.test.mjs (1 test) 14ms
 ✅ src/text_input.test.mjs (1 test) 19ms
 ✅ src/textarea.test.mjs (1 test) 19ms
 ✅ src/timer.test.mjs (1 test) 676ms
 ✅ src/todomvc.test.mjs (10 tests) 1496ms
 ✅ src/various_events.test.mjs (3 tests) 10ms
 ✅ src/various_renderings.test.mjs (6 tests) 14ms
```

## Summary

- **Test Files**: 34 passed (34)
- **Test Suites**: 73 passed (73)
- **Tests**: 66 passed (66)
- **Duration**: 8.59s
