# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/atom_operations.test.mjs (9 tests) 9ms
 ✅ src/attribute_handling.test.mjs (6 tests) 161ms
 ✅ src/basic_components.test.mjs (19 tests) 23ms
 ✅ src/boolean_attributes.test.mjs (1 test) 15ms
 ✅ src/checkbox.test.mjs (1 test) 21ms
 ✅ src/click_swap.test.mjs (1 test) 13ms
 ✅ src/component_switching_bug.test.mjs (1 test) 155ms
 ✅ src/empty_fragment.test.mjs (1 test) 8ms
 ✅ src/enter_to_submit.test.mjs (1 test) 17ms
 ✅ src/fragment_clickable.test.mjs (1 test) 74ms
 ✅ src/fragment_switching.test.mjs (1 test) 19ms
 ✅ src/games_fail_case_race.test.mjs (1 test) 682ms
 ✅ src/list_demo.test.mjs (1 test) 54ms
 ✅ src/list_rerender.test.mjs (2 tests) 39ms
 ✅ src/local_state_rerender.test.mjs (1 test) 20ms
 ✅ src/multiple_instances.test.mjs (3 tests) 45ms
 ✅ src/multiple_select.test.mjs (1 test) 27ms
 ✅ src/nested_fors.test.mjs (3 tests) 41ms
 ✅ src/numeric_input.test.mjs (1 test) 21ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 20ms
 ✅ src/radio_buttons.test.mjs (1 test) 26ms
 ✅ src/range_slider.test.mjs (2 tests) 27ms
 ✅ src/ratom_deferred.test.mjs (1 test) 15ms
 ✅ src/reentrant_render.test.mjs (5 tests) 104ms
 ✅ src/ref.test.mjs (1 test) 18ms
 ✅ src/select.test.mjs (1 test) 21ms
 ✅ src/select_attribute.test.mjs (1 test) 23ms
 ✅ src/shared_state_multiple_roots.test.mjs (1 test) 20ms
 ✅ src/simple_component.test.mjs (1 test) 15ms
 ✅ src/snake_game_over.test.mjs (1 test) 372ms
 ✅ src/standard_attributes.test.mjs (3 tests) 44ms
 ✅ src/stateful_component.test.mjs (1 test) 15ms
 ✅ src/style_attribute.test.mjs (1 test) 23ms
 ✅ src/svg.test.mjs (1 test) 15ms
 ✅ src/text_input.test.mjs (1 test) 15ms
 ✅ src/textarea.test.mjs (1 test) 13ms
 ✅ src/timer.test.mjs (1 test) 675ms
 ✅ src/timers_and_buttons.test.mjs (1 test) 86ms
 ✅ src/todomvc.test.mjs (10 tests) 925ms
 ✅ src/various_events.test.mjs (3 tests) 16ms
 ✅ src/various_renderings.test.mjs (6 tests) 31ms
```

## Summary

- **Test Files**: 41 passed (41)
- **Test Suites**: 89 passed (89)
- **Tests**: 100 passed (100)
- **Duration**: 9.42s
