# Test Results

[Tests source code](https://github.com/chr15m/eucalypt/blob/main/src/test/src).

```
 ✅ src/attribute_handling.test.mjs (6 tests) 196ms
 ✅ src/basic_components.test.mjs (4 tests) 19ms
 ✅ src/boolean_attributes.test.mjs (1 test) 21ms
 ✅ src/checkbox.test.mjs (1 test) 25ms
 ✅ src/click_swap.test.mjs (1 test) 17ms
 ✅ src/component_switching_bug.test.mjs (1 test) 153ms
 ✅ src/empty_fragment.test.mjs (1 test) 8ms
 ✅ src/enter_to_submit.test.mjs (1 test) 23ms
 ✅ src/fragment_clickable.test.mjs (1 test) 105ms
 ✅ src/fragment_switching.test.mjs (1 test) 22ms
 ✅ src/list_demo.test.mjs (1 test) 66ms
 ✅ src/list_rerender.test.mjs (2 tests) 47ms
 ✅ src/local_state_rerender.test.mjs (1 test) 22ms
 ✅ src/multiple_instances.test.mjs (3 tests) 60ms
 ✅ src/multiple_select.test.mjs (1 test) 35ms
 ✅ src/nested_fors.test.mjs (3 tests) 47ms
 ✅ src/numeric_input.test.mjs (1 test) 29ms
 ✅ src/prop_change_rerender.test.mjs (1 test) 15ms
 ✅ src/radio_buttons.test.mjs (1 test) 34ms
 ✅ src/range_slider.test.mjs (2 tests) 46ms
 ✅ src/ref.test.mjs (1 test) 21ms
 ✅ src/select.test.mjs (1 test) 22ms
 ✅ src/select_attribute.test.mjs (1 test) 20ms
 ✅ src/simple_component.test.mjs (1 test) 9ms
 ✅ src/standard_attributes.test.mjs (3 tests) 58ms
 ✅ src/stateful_component.test.mjs (1 test) 13ms
 ✅ src/style_attribute.test.mjs (1 test) 23ms
 ✅ src/svg.test.mjs (1 test) 16ms
 ✅ src/text_input.test.mjs (1 test) 20ms
 ✅ src/textarea.test.mjs (1 test) 17ms
 ✅ src/timer.test.mjs (1 test) 679ms
 ✅ src/todomvc.test.mjs (10 tests) 1498ms
 ✅ src/various_events.test.mjs (3 tests) 14ms
 ✅ src/various_renderings.test.mjs (6 tests) 10ms
```

## Summary

- **Test Files**: 34 passed (34)
- **Test Suites**: 73 passed (73)
- **Tests**: 66 passed (66)
- **Duration**: 9.33s
